<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body bgcolor="white">
    <form action="/confirmacao" method="GET">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome1">

        <label for="tel">Telefone:</label>
        <input type="text" name="tel" id="tel1">
        
        <label for="assunto">Assunto:</label>
        <input type="text" name="assunto">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>