<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="white">

    <div>
        <nav class="container">
            <button><a href="/">Home</a></button>
            <button><a href="#">Contato</a></button>
            <button> <a href="/sobre">Sobre</a></button>
        </nav>
    </div>

    <br>
    <br>

    <form class="container" action="/confirmacao" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome1" value="" placeholder="Nome">

        <label for="mail">Email:</label>
        <input type="text" name="mail" id="tel1" value="" placeholder="Email">
        
        <label for="mensg">Mensagem:</label>
        <input type="text" name="mensg" value="" placeholder="Mensagem">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>