<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>  
    <div>
        <nav class="container">
            <button><a href="#">Home</a></button>
            <button><a href="/contato">Contato</a></button>
            <button> <a href="/sobre">Sobre</a></button>
        </nav>
    </div>

    <div class="container">
        <h1>Bem-vindo ao site teste de Express</h1>
    </div>
        
</body>
</html>