<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="white">

    <div>
        <nav class="container">
            <button><a href="/">Home</a></button>
            <button><a href="/contato">Contato</a></button>
            <button> <a href="#">Sobre</a></button>
        </nav>
    </div>
    
    <div class="container">
        <h1>lLorem Ipsum</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus magna dignissim ante lacinia pulvinar. Etiam nec velit finibus, viverra nibh id, viverra justo. Proin vulputate ligula leo. Morbi luctus, lacus suscipit finibus volutpat, velit metus finibus justo, vel efficitur augue tellus nec diam. Aliquam sit amet justo ac arcu tincidunt facilisis. Ut nec viverra purus, sit amet egestas purus. Maecenas ac urna eget sem pulvinar tristique id vel odio. Duis et erat leo. Integer facilisis ante a turpis semper dignissim. Nunc ut rhoncus enim, a efficitur tellus. Nunc dui erat, feugiat sit amet magna nec, vulputate fringilla lectus. Mauris et est ultrices ipsum pretium facilisis. Sed efficitur, arcu egestas fermentum mattis, nisl sem suscipit lorem, vel aliquam odio massa in urna. Proin eu gravida libero.
        </p>
    </div>
    
</body>
</html>